{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PMED | {% block title %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
  </head>

  <body>
    {% block header %}{% endblock %}

    <!-- navbar -->
    
    <!-- end navbar -->

    <!-- content -->
    <div>{% block content %}{% endblock %}</div>
    <!-- end content -->

    <!-- Foooter -->
    <!-- End of footer -->    

  <script src="{% static 'app.js' %}"></script>
  </body>
</html>
