{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PMED | {% block title %}{% endblock %}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <link rel="stylesheet" href="{% static 'app.css' %}">
</head>

<body>
  <!-- navbar -->
  <div class="px-8 bg-stone-900 text-white">
    {% include "navbar.html" %}
  </div>
  <!-- end navbar -->
  
  
  <div>
    {% block content %}{% endblock %}
  </div>

  <!-- Foooter -->
  <div>
    {% comment %} {% include "footer.html" %} {% endcomment %}
  </div>
  <!-- End of footer -->
  <script src="{% static 'app.js' %}"></script>
</body>

</html>