<!-- @format -->

{% extends "main.html" %} {% block title %}Welcome{% endblock %} {% block content %}
<div class="container">
    <div class="card justify-content-center shadow-lg" style="height: 80vh;">
        <div class="text-center p-5 my-5">
            <h3 class="card-title">Welcome to PMED News and Services</h3>
            <p class="card-text h5 mt-2 mb-5">Your satisfied is our pride.</p>
            <a href="{% url 'index' %}" class="btn btn-success">Go to Article</a>
        </div>
    </div>
</div>
{% endblock %}
