<!-- @format -->

{% extends "main.html" %} {% block title %} Create {% endblock %} {% block content %}
<div class="container">
    <h3 class="text-center font-bold text-md text-slate-700">Create New Article</h3>
    <form method="post" class="text-slate-500">
        {% csrf_token %}
        <div class="">{{ form.title.errors }} {{ form.title.label_tag }} {{ form.title }}</div>
        <div class="">{{ form.content.errors }} {{ form.content.label_tag }} {{ form.content }}</div>
        <div class="d-flex gap-3">
            {{ form.status.errors }} {{ form.status.label_tag }}
            <div class="form-check form-switch">{{ form.status }}</div>
            <div>Author: {{ user.email }}</div>
        </div> {{ form.author }}
        <input type="submit" value="Save" class="btn btn-sm btn-success" />
        <a href="{% url 'index' %}" class="btn btn-sm btn-warning">Cancel</a>
    </form>
</div>
{% endblock %} {% block js %}
<script>
    var user = "{{ user.id }}";
    document.getElementById("id_author").value = user;
    const editor = new EditorJS("id_content");
</script>
{% endblock %} {% comment %} # Bound form form = UserRequest(request.POST or None, initial={'user': request.user}) # Unbound form form =
UserRequest(initial={'user': request.user}) {% endcomment %}
